@import '../variables';

.table-data-container .base-table .base-table__header .header-cell-content .table-sort {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin-left: 8px;
  gap: 0px;
  padding: 4px;
  border-radius: 4px;
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    background: rgba($color-black-1, 0.1);
  }

  .table-sort__arrow {
    width: 10px;
    height: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
    filter: brightness(0) contrast(200%);

    &--up {
      background-image: url("data:image/svg+xml,%3Csvg width='6' height='12' viewBox='0 0 6 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 8L3 10L5 8' stroke='%2355555C' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
      rotate: 90deg;
    }

    &--down {
      background-image: url("data:image/svg+xml,%3Csvg width='6' height='12' viewBox='0 0 6 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 4L3 2L5 4' stroke='%2355555C' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
      rotate: -90deg;
    }
  }
}
